.main-div {
    background: #fffaf1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 160px 0;
  }
  .login-div {
    background-color: #ffbe3b;
    background-image: url("/public/Images/register-img.png");
    background-blend-mode: multiply;
    padding: 5rem;
  }
  .login-form { padding: 6rem;}
  
  .register-card {
    box-shadow: 0px 0px 20px #e2c38c;
    border-radius: 30px;
    border: 0px solid black;
    overflow: hidden;
  }
  .login-card-body {
    padding: 0 12px;
  }
  .astric-span {
    color: #f01f4b;
  }
  
  
  
  .orText {
    background: #fff;
    padding: 0 8px;
    position: absolute;
    left: 48%;
    top: 4px;
  }
  
  .roundIcon {
    background: #fff;
    width: 68px;
    height: 68px;
  }
  .form-heading {
    font-weight: 700;
    font-size: 50px;
  }
  .login-heading {
    font-weight: 600;
    font-size: 30px;
  }
  .bordered-text {
    border-left: 2px solid #fff;
    margin-left: 3rem;
    padding-left: 2rem;
    display: flex;
    align-items: flex-end;
    min-height: 180px;
  }
  .optionText1 a{
    color: #f01f4b !important;
    text-decoration: none;
  }
  .optionText1 a:hover{
    text-decoration: none;
  }
  .eye-icon {
    position: absolute;
    right: 12px;
    top: 9px;
    color: #959595;
  }
  
  @media (max-width: 767px) {
    .main-div {
      padding: 30px 0;
    }
    .form-heading { font-size: 32px;}
    .login-div { padding: 2rem; }
    .login-form { padding: 2rem;}
    .bordered-text { min-height: 70px; }
  }
  