#layoutError { display: flex;  flex-direction: column; min-height: 100vh;}
#layoutError #layoutError_content { min-width: 0; flex-grow: 1;}
#layoutError #layoutError_footer { min-width: 0;}
.img-error {  max-width: 20rem;}

/* CUSTOM CSS */
.content-dashboard { display: flex; padding-left: 240px; flex-wrap: wrap;}
.side-bar { position: fixed; left: 0; top:0; left:0; width: 240px; height: 100%; background: #342951;}
.dash-logo { font-size: 24px!important; font-weight: 700; color: #f01f4b !important; height: 64px; line-height: 48px; background: #271c3d; padding: 8px 16px;}
.side-nav { display: flex; width: 100%; flex-wrap: wrap; color: #fff;}
.side-nav a { display: flex; width: 100%; flex-wrap: nowrap;  color: #fff; text-decoration: none; padding: 12px 16px; font-size: 16px; }
.side-nav a.active {color: #d8c5fd; background: #3d2f5e}
.side-nav-icon { width:28px;}
.main-navbar {  height: 64px; line-height: 48px; background: #342951; padding: 8px 16px; position: fixed; width: calc(100% - 240px); left: 240px; top: 0; z-index: 1;}
.component-block { width: 100%; display: inline-block; padding-top:80px;}
.card { border: 1px solid rgba(0,0,0,.125); }
.dash-profile-info .form-label { min-width: 212px; }

.social-cards { width: auto; display: inline-flex; align-items: center; flex-wrap: wrap; }
.social-cards i { font-size: 20px; color: #f01f4b;}
.social-count { font-weight: 700;}



.error-show{  color: red;}



.sub-btn{  background: #e5100ecf;  color: #fff;}
.tagDiv {  display: flex; align-items: flex-start; overflow: auto;  width: 100%; max-width: 100%; border: 1px solid #ddd; border-radius: 5px; color: black; 
  margin-top: 8px; min-height: 112px;max-height: 112px; overflow: auto; flex-wrap: wrap; padding: 6px; }

.tagDiv input { width: 100%;  min-width: 50%;  border: none;  border-radius: 5px;  padding: 14px;  padding-left: 14px;}
.tag {  display: flex;  align-items: center;  margin:3px;   padding:2px 8px;  border: 1px solid #ddd;  border-radius: 6px;  background-color: #cfccc7d9;
  white-space: nowrap;  color: #000; font-size: 14px; line-height: 18px;}
.tag button {  display: flex;  padding: 2px 2px 2px 4px;  border: none;  background-color: unset;  cursor: pointer;  color: #000;  font-weight: 600;}
.profile-img-thumb { width:84px; padding-right: 2%; }
.profile-img-thumb img { max-width: 100%; border: 1px solid #ddd; background: #e2e2e2; min-height: 100%; width: 100%;}
.profile-img-group { width:89%; }
.btn-box { display: flex; width:72px; justify-content: space-between; flex-shrink: 0;}
.btn-box .btn { width: 32px;}
.btn.custom-btn {   background: #0e8f43;  color: #FFF;  }

.table>:not(:first-child) {
  border-top: 1px solid currentColor;
}
.announcment-thumb { width:180px; max-width: 100%;}
.announcement-view .form-label { min-width: 212px; }
.btn-logout { color:#fff; background: #0d0916; margin:-8px 0; font-size: 20px;}
.btn-logout:hover { color:#f01f4b; }

.profile-thumb { width:184px; display: inline-flex; }
.thumb-block { width:100%; height: 120px; justify-content: center; text-align: center;}
.thumb-block img {height: 100%; max-width: 100%; }

.no-image { width:100%; min-height: 150px; justify-content: center; text-align: center; align-items: center; display: flex;} 

.spiner-btn .sl-spinner1 { flex-direction: row; align-items: flex-start; }
.spiner-btn .sl-spinner1 .sl-loader { width: 28px; height: 28px; margin-top: -5px; }
.spiner-btn .sl-spinner1 .sl-loader-title { font-weight: 500; font-size: 1rem;  line-height: 1.5;}