.detail-bg {
  background-image: url('/public/Images/details.png');
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
}
.heading-icon {
  font-size: 18px;
  color: #1877f2;
}
.kol-user-img {
  min-width: 100%;
  min-height: 182px;
  max-height: 182px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: -100px;
}
.kol-user-img img {
  width: 100%;
}
.team-list {
  width: auto;
  display: inline-block;
}
.facebook-icon {
  color: #1877f2;
}
.youtube-icon {
  color: #ff0000;

}
.icon-block { height: 48px; position: relative;}
.youtube-circle-icon {   color: #ff0000; font-size: 60px;  position: relative; z-index: 1; line-height: 48px;}
.youtube-circle-icon:before { line-height: 48px;}
.youtube-bg { position: absolute; background-color: #fff; width: 30px; height: 30px; left:50%; top:50%; margin: -15px 0 0 -15px; }
.text-normal {
  color: #8b7db2;
}
.social-count-list {
  display: flex;
  list-style: none;
}
.social-count-list li {
  border-left: 2px solid #a5a5a5;
  padding: 0px 15px;
}
.team-list {
  display: flex;
  list-style: none;
}
.team-list li {
  border: 1px solid #ddd;
  margin-right: -10px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.team-list li img {
  width: 100%;
  object-fit: contain;
}
.geo-icon {
  color: #f01f4b;
}
.bookmark-icon {
  color: #f01f4b;
  cursor: pointer;
}

.book-icon:hover .bookmark-icon:before,
.book-icon:focus .bookmark-icon:before {
  content: '\f195' !important;
}
.more-button a {
  text-decoration: none;
  color: #f01f4b;
  font-size: 16px;
}
.list-row {
  cursor: pointer;
}
.banner-container {
  margin: -16px;
}
.annoucement-card {
  border-radius: 20px;
  background-color: #d9d0f2;
}
.roundIcon {
  background: #342951;
  width: 184px;
  height: 184px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 36px;
}
.annocement-text {
  color: #fff;
  overflow: hidden;
  text-align: center;
  margin: 0;
  font-weight: 500;
  line-height: 1.3;
}
.announement-date-list {
  display: flex;
  list-style: none;
}
.announement-date-list li.first {
  border-left: 2px solid #F01F4B;
  padding: 0px 15px;
}
.review-block { padding: 3rem; background-color: #F7EEDD; background-image: url('/public/Images/tp-bg.png'); background-repeat: no-repeat; background-size: cover; background-blend-mode: multiply;}


