.detail-main {
  padding: 10px 0;
  position: relative;
}
.detail-main .card {
  border-radius: 20px;
  overflow: hidden;
}
.slider-div {
  padding: 0 15px;
}

.slick-slide img {
  margin: auto;
}

.detail-main .slick-prev,
.detail-main .slick-next {
  top: -30px !important;
}
.detail-main .slick-prev {
  right: 30px !important;
  left: auto !important;
}
.detail-main .slick-next {
  right: 0px !important;
}
.detail-main .slick-next:before {
  content: '\F285';
  font-family: bootstrap-icons !important;
}

.detail-main .slick-prev:before {
  content: '\F284';
  font-family: bootstrap-icons !important;
}