.logo {
  text-align: left;
  font: normal normal bold 31px/64px Montserrat;
  letter-spacing: 0px;
  color: #f01f4b !important;
}
.header {
  background: #342951;
}
.outlined-button {
  color: #000;
  width: 140px;
  height: 48px;
  border-radius: 4px;
  border-color: #fff;
  line-height: 32px;
}
.outlined-button a {
  text-decoration: none;
  color: #fff;
}

.outlined-button:hover {
  color: #ffffff;
  background: #f01f4b;
  border-color: #f01f4b;
}
.outlined-button:hover a {
  color: #ffffff;
}

.test {
  background-color: none;
}
.search-bar {
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 6px;
  display: flex;
}
.profile-btn {
  color: #fff !important;
  line-height: 1.1;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
  padding: 0.75rem 0.25rem;
}
.profile-btn-user {
  width: 80%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display: inline-block;
font-weight: 400;
}
.search-form { display: flex; width: 100%;}
.user-dropdown .dropdown-menu.show { inset: 15px 0px auto auto!important; min-width: 14rem; }
.user-dropdown  .dropdown-item { text-decoration: none; padding:0px!important; }

.user-drop-list .list-item { text-decoration: none; width:100%; display: flex; padding: 6px 12px; color:#212529; cursor: pointer; }
.user-drop-list .list-item:hover { background-color: #f2f2f2; }
.list-item-profile { border-bottom: 1px solid #ddd; padding: 9px 12px 9px 60px; margin-bottom: 6px; display: flex; position: relative;}
.list-item-profile .profile-user-icon { position: absolute; left: 12px;}
.profile-user-name { display: flex; padding: 0px; flex-wrap: wrap; }

.user-name { font-size: 16px; width: 100%;  }
.user-designation { font-size: 12px; width: 100%; }

.custom-btn {
  width:184px;
  color: #fff !important;
  font-family: "Montserrat", sans-serif !important;
  line-height: 1.1;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
  background: transparent;
  border: 0px solid #000;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px 16px;
  background-image : url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e);}

  .custom-btn option{  background: #342951;  font-family: "Montserrat", sans-serif !important; }
  .btn-search {
  background: #f01f4b;
  border-radius: 30px;
  color: #fff !important;
  padding: 0.375rem 1.75rem;
  line-height: 1.1;
}
.search-box {
  background: transparent !important;
  border: 0px solid #000;
  color: #fff;
  width: 100%;
  border-left: 1px solid #fff;
  padding: 0 8px;
  margin: 3px 0;
}
.search-box::placeholder {
  color: #fff;
}
.search-box:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.header-icon-bar {
  display: flex;
  align-items: center;
  color: #fff;
}
.header-icon-bar a {
  color: #fff;
  margin: 0 8px;
  position: relative;
}
.count-badge {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: #f0142f;
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 11px;
  padding: 1px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
}
.header-profile {
  width: auto;
  display: flex;
  margin-left: 24px;
}
.profile-user-icon {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  background: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  font-weight: 600;
    font-size: 24px;
}
.profile-user-icon img {
  width: 100%;
}
.header-profile .btn {
  color: #fff;
}

.notify-drop-btn { color: #fff !important;
  line-height: 1.1;
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%) !important;
  padding: 0.05rem 0.01rem;
  margin: 0 8px;
}
.notify-drop-btn .count-badge { right: 0;}
.notify-drop-btn:after { display: none;}


.notify-dropdown .dropdown-menu.show { inset: 15px 0px auto auto!important; min-width: 14rem; padding:0;}
.notification-list .dropdown-item { text-decoration: none;}
.notification-list .list-item { text-decoration: none; width:100%; display: flex; padding: 6px 12px; color:#212529; margin: 0; font-size: 14px; border-bottom: 1px solid rgba(0,0,0,.15); }
.notification-list .list-item:hover { background-color: #f2f2f2; }



@media (max-width: 980px) {
  .profile-btn-user { display:none; }
}