.footer-bg{ background-color: #342951; padding: 2rem 0 1rem 0;margin-top: 3rem;}
.footer-logo{ color: white;font-size: 32px ; font-weight: 400;padding: 1rem 0; }

.news-letter-block { display: flex; width: 94%; padding: 1rem 0; flex-wrap: wrap; color: #fff;}
.news-group { width: 100%; display: flex; padding: 1rem 0 2rem 0;}
.newsletter-box { border: 1px solid #FFFFFF; width: 100%; height: 60px; color: #fff; background-color: transparent!important; }
.newsletter-box::-webkit-input-placeholder, .newsletter-box.form-control:focus { color: #fff; }
.newsletter-btn{ background: #F01F4B ; border-radius: 4px; min-width: 140px; height: 60px; color: #fff!important; margin-left: 15px; }

.payment-card { width:100%; display: flex; margin-bottom: 2rem; }
.p-card { margin-right: 12px;}

.footer-menu-head{ color:#FF718F; font:bold 18px/48px Montserrat;  position: relative; }
.footer-menu-head:after { width:96px; height: 1.5px; background-color: #fff; position: absolute; left:0; bottom: 0; content: "";}

.footer-menu { display: inline-block; width: 100%; list-style: none; padding: 15px 0; margin: 0;}
.footer-menu li { font: 16px/28px Montserrat; color: #FFFFFF; margin-bottom:20px; }

.footer-cp { border-top:1px solid #675595 ; padding: 1.5rem 0; margin-top: 2rem;}
.cp-text { text-align: center; font: 12px/24px Montserrat; color:#fff ;}


@media (max-width:767px) {
    .news-group { display: block;} 
    .newsletter-btn { margin: 15px 0 0 0;}
    .footer-menu li { margin-bottom: 8px;}
    .footer-bg{ margin-top: 1.5rem;}
}