body {
  font-family: 'Montserrat', sans-serif !important;
  background: #F8F8F8;
  color:#342951;
}
.App {
  text-align: center;
}
.spinner-container { background-color: rgba(0,0,0,0.7); position: fixed; width: 100%; height: 100%; z-index: 9999; justify-content: center; align-items: center; display: flex;}

.card {border: 1px solid rgba(0,0,0,.06);}

@media (min-width: 1680px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1440px;
}
}

.btn { font-weight: 500;}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.theme-color { color: #f01f4b;}
.theme-btn {
  background-color: #f01f4b;
  color: #fff;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}
.theme-color {
  color: #f01f4b;
}
.theme-btn:hover {
  color: #fff;
}
.weight-normal {
  font-weight: 400;
}
.weight-600 {
  font-weight: 600;
}
.optionText a {
  color: #f01f4b;
  text-decoration: none;
}
.text-right {
  text-align: right;
}
.ml-auto {
  margin-left: auto;
}
.slick-prev:before,
.slick-next:before {
  color: #4B4B4B;
  font-size: 36px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.show-more span {
  position: relative !important;
  visibility: visible !important;
}

.stream-user {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  height: 100%;
}
/* 
.stream-user:before {
  content: '';
  position: absolute;
  background-image: url('../public/Images/dots.png');
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  bottom: 10%;
  left: 10px;
}
.stream-user:after {
  content: '';
  position: absolute;
  background-image: url('../public/Images/dots.png');
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  top: 10%;
  right: 10px;
} 
.stream-user-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 84%;
  height: 84%;
  background-color: #fef4f6;
  border-radius: 50%;
}*/

.stream-user-thumb {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
.live-stream {
  background: #f01f4b;
  color: #fff;
  font-size: 42px;
  padding: 12px 24px;
  font-weight: 600;
  margin: 10px 0;
  display: inline-block;
  text-shadow: 2px 3px black;
  text-transform: capitalize;
}
.list-large-text {
  font-size: 24px;
}
.infinite-scroll-component {
  overflow: visible !important;
}

.headText {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

.rate-count { line-height: 1.6; padding-right: 8px;}
/*chat css*/

.chat-head-bar {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ebebeb;
}
.chat-head-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.chat-head-text {
  width: 50%;
  display: inline-block;
}
.chat-head-icons {
  margin-left: auto;
  color: #f01f4b;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.chat-head-icons .span-icon {
  width: 36px;
  height: auto;
  cursor: pointer;
  margin-left: 12px;
}
.chat-bar-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.chat-user-search {
  width: 100%;
  position: relative;
  margin: 10px 0 24px 0;
}
.search-icon {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #cfc6c6;
}
.contact-table-scroll {
  background: #f5f5f5;
}
.user-search-control {
  padding-left: 50px;
  line-height: 1.9;
  border-radius: 8px;
  border-color: #ebebeb;
}
.chat-users-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.user-item-chat {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ddd;
  padding: 9px 12px;
}
.user-item-chat:hover {
  background: #ebebeb;
}
.user-item-thumb {
  width: 50px;
  height: 50px;
  position: relative;
}
.user-item-text {
  width: calc( 100% - 50px);
  padding-left: 15px;
}
.user-item-row {
  width: 100%;
  display: flex;
}
.user-item-name {
 
  color: #342951;
  text-decoration: none;
  width: 60%;
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-item-time {
  font-size: 14px;
  font-weight: 400;
  color: #9c9fab;
  margin: 4px 0 4px auto;
}
.user-item-last-msg {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  color: #9c9fab;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.delete-edit-div{
  background-color: #ebebeb;
}

.chat-row:hover{
  background-color: #ebebeb;
}
/* .chat-users-block .user-item-chat:first-child {
  background: #fafafa;
} */

.chat-container {
  width: 100%;
  display: block;
  min-height: 490px;
  max-height: 490px;
  overflow-y: auto;
  padding: 1rem;
}
.chat-row {
  display: flex;
  width: 100%;
  padding: 12px 0;
  align-items: flex-start;
}
.chat-thumb-container {
  position: relative;
  width: 52px;
  margin-top: 8px;
}
.chat-user-thumb {
  background-color: #ddd;
  border-radius: 12px;
  height: 52px;
  width: 52px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
.current-active {
  background-color: #ebebeb;
}
.chat-user-thumb img {
  width: 100%;
}
.status-icon {
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 2px;
}
.status-icon.active {
  background-color: green;
}
.status-icon.in-active {
  background-color: rgb(168, 168, 168);
}
.chat-info-container {
  width: 100%;
  padding-left: 15px;
}
.chat-user-name {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin: 8px 0;
}
.chat-time {
  font-size: 14px;
  font-weight: 400;
  color: #9c9fab;
  padding-left: 15px;
}
.chat-message-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.chat-input-container {
  width: 100%;
  display: block;
  padding: 1rem;
  border-top: 1px solid #ebebeb;
}
.chat-input-row {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  align-items: flex-start;
  background-color: #f7f7f7;
  border-radius: 30px;
}
.chat-control {
  width: 100%;
  border: 0px solid #000 !important;
  background: transparent;
}
.chat-control.form-control:focus {
  background: transparent;
  box-shadow: none !important;
}
.chat-submit-btn {
  background-color: #e7e7e7;
  border-radius: 30px;
  width: 36px;
  height: 36px;
  border: 0px solid #000 !important;
  color: #c2c2c2;
}

/*listing and detail bookmark btn*/
.bookmark-icon {
  color: #f01f4b;
  cursor: pointer;
}
.bookmark-icon.active:before {
  content: '\f195' !important;
}

/* bookmark css */

.bookmark-bg {
  background-image: url('/public/Images/details.png');
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #edecec;
}
.banner-container {
  margin: -16px -16px 20px -16px;
}
.bookmark-card {
  min-width: 100%;
  min-height: 280px;
  max-height: 280px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #e3e3e3;
  position: relative;
  display: flex;
  margin: 15px 0;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}
.bookmark-delete {
  width: 32px;
  height: 32px;
  z-index: 2;
  text-align: center;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0px 1px 3px #555555;
}
.bookmark-delete:hover {
  opacity: 0.8;
}
.bookmark-info {
  display: flex;
  width: 100%;
  text-shadow: 0px 1px 3px #555555;
  z-index: 2;
  position: absolute;
  color: #fff;
  flex-wrap: wrap;
  bottom: 0;
  padding: 15px 24px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+2&0+0,0.65+100 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 2%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 2%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 2%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  
}
.bookmark-info:hover {
  opacity: 0.85;
}
.bookmark-title {
  width: 100%;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  color:#fff;
  text-decoration: none;
}
.bookmark-thumb {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}
.bookmark-thumb img {
  width: 100%;
}

.landing-Slider .slick-prev,
.landing-Slider .slick-next {
  top: -30px !important;
  width:32px;
  height: 48px;
}
.landing-Slider .slick-prev {
  right: 42px !important;
  left: auto !important;
}
.landing-Slider .slick-next {
  right: 0px !important;
}
.landing-Slider .slick-next:before {
  content: '\F285';
  font-family: bootstrap-icons !important;
  font-weight: 700;
  font-size: 32px;
}

.landing-Slider .slick-prev:before {
  content: '\F284';
  font-family: bootstrap-icons !important;
  font-weight: 700;
  font-size: 32px;
}

/* best kol profile landing page */
.kol-profile-logo{
  background-color: #342951;
  height: 260px;
  width: 260px;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
}

.best-kol-img{
  height: 260px;
  width: 260px;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.b-radius { border-radius: 16px; border:0px solid #000; }
/* .backgroundBannerImage{
  background-image: url("/public/Images/group.png");
  height: 260px;
  width: 260px;
} */

.backgroundBannerImage {
  background-size: contain;
  background-image: url("/public/Images/group.png");
  min-height: 450px;
  width: 100%;
  background-color: #fffcf6;
  background-repeat: no-repeat;
  border-radius: 30px;
}

.kol-profile-info { width:100%; display: inline-block; padding: 2rem;}
.kol-user-name { font-weight: 600; color:#342951; text-transform: capitalize;}





.kol-profile-videos { width:100%; display: inline-block; border-top:1px solid #e9e9e9; padding: 2rem;}
.profile-profile-btn { width:100%; display: inline-block; padding: 0.5rem 0 2rem 0;}
.video-item { border:1px solid #d1d1d1; border-radius: 2px; overflow: hidden; margin-bottom: 15px; }
.video-item iframe { float: left;}
.full-video { width: 100%; height: 640px; border-radius: 16px; overflow: hidden; box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);}
.info {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #342951;
  width: 60%;
}
.info i.bi{
  font-size: 60px;
  color: #f01f4b;
  width: 64px;
}
.info  p {
  margin: 0;
  font-size: 16px;
  padding-left: 15px;
}
.candidate-info {
  display: flex;
  align-items: flex-start;
  line-height: 32px;
}
.profile-avatar { width:64px; height: 64px; margin-right: 15px;}
.box {
  width: 64px;
  align-self: baseline;
  margin-top: 8px;
}


.rating {
  display: flex;
  align-items: center;
}
.rating-count { font-size: 32px; font-weight: 500; color: #8B7DB3; padding-right: 12px; line-height: 36px;  margin: 0;}
.react-stars span { font-size: 36px!important; line-height: 36px;}
h3.description {
  font-size: 22px;
  font-weight: 600;
  color: #f01f4b;
}
h5.card-title {
  font-size: 18px;
  font-weight: 600;
}
.card-text {
  font-size: 16px;
  line-height: 2rem;
  width: 80%;
}
button.view-btn {
  padding: 10px 30px;
  width: auto;
  border-radius: 10px;
  color: #fff;
  margin: 30px auto;
  background: #f01f4b;
  border: none;
  font-weight: 500;
  box-shadow: 2px 2px 2px #f01f4b;
}
.about-body {
  padding: 3rem 5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-body h2.card-title {
  font-size: 56px;
  font-weight: 700;
  color:#342951;
}
ul.kol-count-list {
   display: flex;
  justify-content: space-between;
  padding:2rem 0;
  list-style-type: none;
  width:80%;
}
.count-num {
  font-size: 2.5rem;
  font-weight: 700;
  color: #f01f4b;
  line-height: 3rem;
}
.count-label {
  font-size: 1.5rem;
  text-align: left;
  color: #8B7DB2;
  font-weight: 500;
  
}
.help-form {
  background: #030426;
  padding: 4rem 3rem;

}
.help-form h2.card-title {
  color: #f9be3b;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.help-form label.form-label {
  color: rgba(255, 255, 255, 0.7);
}
.send-btn{
  margin:0 auto;
  padding:.375rem 1.25rem;
  font-size: 1.25rem;
}
.why-choose {
  padding: 2rem 3rem;
  height: 100%;
    display: flex;
    align-items: center;
}
.icon-box {
  display: flex;
}
.icon-info {
  padding-left: 15px;
  padding-bottom: 20px;
}
.icon-info h3 {
 font-size: 20px;
 line-height: 30px;
 color:#342951;
 font-weight: 600;
}
.icon-info p {
  font-size: 16px;
  line-height: 24px;
  color:#4B4B4B;
 }
 .thumb-img{
  width: 100%;
  min-height: 400px;
 }

.faq-block { 
  background-image: url("/public/Images/faqbg.png");
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.97);
  padding: 2rem 6rem 3rem 6rem;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: left center;
} 
.faq-questions {
  font-family: Montserrat;
  color: #8B7DB2;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 1rem;
}
.ques-cls p {
  font-size: 16px;
  color: #4B4B4B;
  font-weight: 400;
  font-family: 'Montserrat';
}
 .faq-div{
  padding: 20px;
  text-align: center;
  font-family: Montserrat;
 }

 .carousel-inner { 
  background-image: url(../public/Images/banner-base.png); 
  background-repeat: no-repeat; 
  background-size: cover; 
  border-radius: 16px;
 
}
.carousel-caption {
  position: relative !important;
  bottom: auto;
  right: auto;
  left: auto;
  padding: 2rem 5rem;
  text-align: left;
}
.bannerCol { 
  display: flex; 
  align-items: center; 
  max-height: 580px;
  min-height: 580px;
}
.banner-title{
  font-size: 54px;
  color: #342951;
  font-family: 'Montserrat';
  font-weight: 700;
  margin-bottom: 16px;
}

h1.banner-title:first-child::nth-line(-n+2){
  color:#ff0000;
}

.banner-text { font-size: 20px; color: #16141a; margin-bottom:2rem;}

.carousel-caption span {
  color: #FFBE3B;
}
.banner-img {
  height: 100%;
    object-fit: scale-down;
   margin:0rem auto;
}
.carousel-control-prev {
  width: auto !important;
 }
 .carousel-control-next {
   width: auto !important;
}
.ques-cls {
  padding: 2rem 2.5rem 1rem 2.5rem;
  background: #fff;
  background-clip: border-box;
  border-radius: 12px;
  margin-bottom: 20px;
  border: 1px solid #efeeee;
}



.detail-bg {
  background-image: url(/public/Images/details.png);
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #edecec;
  background-position: center center;
}
.user-thumb { margin-top: -136px;}
.kol-user-img {
  max-height: 182px;
  min-height: 180px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #e3e3e3;
  width: 100%;
  display: inline-table;
  margin-bottom: 30px;
}
.kol-profile-img {
  max-height: 280px;
  min-height: 180px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #e3e3e3;
  width: 100%;
  display: inline-table;
  margin-bottom: 30px;
}

.fw-medium { font-weight: 500;}
.col-form-label {color:#495057}

.social-count-list {
  display: flex;
  list-style: none;
}
.social-count-list li {
  border-left: 1px solid #b9b8b8;
  padding: 0px 15px;
  font-size: 24px;
    line-height: 28px;
    color:#f01f4b;
}
.social-text { font-size: 20px; margin-left: 8px; color: #342951;}
.slick-track {  min-width: 100%; display: flex; }

.table>:not(:first-child) {
  border-top: 1px solid currentColor;
}
.labelText { display: inline-block; font-weight: 500;}
.paymentInfo .labelText { min-width: 200px;}


.eye-icon {
  position: absolute;
  right: 12px;
  top: 9px;
  color: #959595;
}

.spiner-btn .sl-spinner1 { flex-direction: row; align-items: flex-start; }
.spiner-btn .sl-spinner1 .sl-loader { width: 28px; height: 28px; margin-top: -5px; }
.spiner-btn .sl-spinner1 .sl-loader-title { font-weight: 500; font-size: 1.25rem;  line-height: 1.5;}

.form-select { text-transform: capitalize;}