body {
  font-family: 'Montserrat', sans-serif !important;
  background: #f5f5f5;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.theme-btn {
  background-color: #f01f4b;
  color: #fff;
}
.theme-color {
  color: #f01f4b;
}
.theme-btn:hover {
  color: #fff;
}
.weight-normal {
  font-weight: 400;
}
.weight-600 {
  font-weight: 600;
}
.optionText a {
  color: #f01f4b;
  text-decoration: none;
}
.text-right {
  text-align: right;
}
.ml-auto {
  margin-left: auto;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.show-more span {
  position: relative !important;
  visibility: visible !important;
}

.stream-user {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  height: 100%;
}
.stream-user:before {
  content: '';
  position: absolute;
  background-image: url('../public/Images/dots.png');
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  bottom: 10%;
  left: 10px;
}
.stream-user:after {
  content: '';
  position: absolute;
  background-image: url('../public/Images/dots.png');
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  top: 10%;
  right: 10px;
}
.stream-user-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 84%;
  height: 84%;
  background-color: #fef4f6;
  border-radius: 50%;
}
.stream-user-thumb {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
.live-stream {
  background: #f01f4b;
  color: #fff;
  font-size: 42px;
  padding: 12px 24px;
  font-weight: 600;
  margin: 10px 0;
  display: inline-block;
  text-shadow: 2px 3px black;
}
.list-large-text {
  font-size: 24px;
}
.infinite-scroll-component {
  overflow: visible !important;
}

.headText {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

/*chat css*/

.chat-head-bar {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}
.chat-head-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.chat-head-text {
  width: 50%;
  display: inline-block;
}
.chat-head-icons {
  margin-left: auto;
  color: #f01f4b;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}
.chat-head-icons .span-icon {
  width: 36px;
  height: auto;
  cursor: pointer;
  margin-left: 12px;
}
.chat-bar-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.chat-user-search {
  width: 100%;
  position: relative;
  margin: 10px 0 24px 0;
}
.search-icon {
  position: absolute;
  left: 15px;
  top: 10px;
  color: #cfc6c6;
}
.contact-table-scroll {
  background: #f5f5f5;
}
.user-search-control {
  padding-left: 50px;
  line-height: 1.9;
  border-radius: 8px;
}
.chat-users-block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.user-item-chat {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ddd;
  padding: 9px 12px;
}
.user-item-chat:hover {
  background: #fafafa;
}
.user-item-thumb {
  width: 50px;
  height: 50px;
  position: relative;
}
.user-item-text {
  width: 100%;
  padding-left: 15px;
}
.user-item-row {
  width: 100%;
  display: flex;
}
.user-item-name {
  cursor: pointer;
  color: #342951;
  text-decoration: none;
  width: 60%;
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-item-time {
  font-size: 14px;
  font-weight: 400;
  color: #9c9fab;
  margin: 4px 0 4px auto;
}
.user-item-last-msg {
  width: 100%;
  display: flex;
  font-size: 16px;
  color: #9c9fab;
}

.chat-users-block .user-item-chat:first-child {
  background: #fafafa;
}

.chat-container {
  width: 100%;
  display: block;
  min-height: 490px;
  max-height: 490px;
  overflow-y: auto;
  padding: 1rem;
}
.chat-row {
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: flex-start;
}
.chat-thumb-container {
  position: relative;
  width: 52px;
}
.chat-user-thumb {
  background-color: #ddd;
  border-radius: 12px;
  height: 52px;
  width: 52px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
}
.first-active {
  color: red;
}
.chat-user-thumb img {
  width: 100%;
}
.status-icon {
  border: 1px solid #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  right: 2px;
}
.status-icon.active {
  background-color: green;
}
.status-icon.in-active {
  background-color: rgb(168, 168, 168);
}
.chat-info-container {
  width: 100%;
  padding-left: 15px;
}
.chat-user-name {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0;
}
.chat-time {
  font-size: 14px;
  font-weight: 400;
  color: #9c9fab;
  padding-left: 15px;
}
.chat-message-text {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.chat-input-container {
  width: 100%;
  display: block;
  padding: 1rem;
  border-top: 1px solid #dddd;
}
.chat-input-row {
  display: flex;
  width: 100%;
  padding: 8px 12px;
  align-items: flex-start;
  background-color: #f7f7f7;
  border-radius: 30px;
}
.chat-control {
  width: 100%;
  border: 0px solid #000 !important;
  background: transparent;
}
.chat-control.form-control:focus {
  background: transparent;
  box-shadow: none !important;
}
.chat-submit-btn {
  background-color: #e7e7e7;
  border-radius: 30px;
  width: 36px;
  height: 36px;
  border: 0px solid #000 !important;
  color: #c2c2c2;
}

/* bookmark css */

.bookmark-bg {
  background-image: url('/public/Images/details.png');
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #edecec;
}
.banner-container {
  margin: -16px -16px 20px -16px;
}
.bookmark-card {
  min-width: 100%;
  min-height: 280px;
  max-height: 280px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #e3e3e3;
  position: relative;
  display: flex;
  margin: 15px 0;
}
.bookmark-delete {
  width: 32px;
  height: 32px;
  z-index: 2;
  text-align: center;
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
  color: #fff;
  text-shadow: 0px 1px 3px #555555;
}
.bookmark-delete:hover {
  opacity: 0.8;
}
.bookmark-info {
  display: flex;
  width: 100%;
  text-shadow: 0px 1px 3px #555555;
  z-index: 2;
  position: absolute;
  color: #fff;
  flex-wrap: wrap;
  bottom: 0;
  padding: 15px 24px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+2&0+0,0.65+100 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 2%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 2%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.01) 2%,
    rgba(0, 0, 0, 0.65) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.bookmark-info:hover {
  opacity: 0.85;
}
.bookmark-title {
  width: 100%;
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
.bookmark-thumb {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}
.bookmark-thumb img {
  width: 100%;
}
