body {
  font-family: "Montserrat", sans-serif !important;
  background: #f5f5f5;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.theme-btn {
  background-color: #f01f4b;
  color: #fff;
}
.theme-color {
  color: #f01f4b;
}
.theme-btn:hover {
  color: #fff;
}
.weight-normal {
  font-weight: 400;
}
.weight-600 {
  font-weight: 600;
}
.optionText a {
  color: #f01f4b;
  text-decoration: none;
}
.text-right {
  text-align: right;
}
.ml-auto {
  margin-left: auto;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.show-more span {
  position: relative !important;
  visibility: visible !important;
}










.stream-user {
  position: relative;
  display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    height: 100%;
}
.stream-user:before {
  content: "";
  position: absolute;
  background-image: url("../public/Images/dots.png");
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  bottom: 10%;
  left: 10px;
}
.stream-user:after {
  content: "";
  position: absolute;
  background-image: url("../public/Images/dots.png");
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  top: 10%;
  right: 10px;
}
.stream-user-circle {
  position: absolute;
  display: flex;
    justify-content: center;
    width: 84%;
    height: 84%;
    background-color: #FEF4F6;
    border-radius: 50%;
}
.stream-user-thumb { position: relative; z-index: 1; max-width: 100%;}
.live-stream {background: #F01F4B;  color: #fff; font-size: 42px; padding: 12px 24px; font-weight: 600; margin: 10px 0; display: inline-block; text-shadow: 2px 3px black; }
.list-large-text { font-size: 24px;}
.infinite-scroll-component {
  overflow: visible !important;
}

.headText { color: rgb(33, 37, 41); text-decoration: none;}
